
  /*********************
  GENERAL
  *********************/

 body {
   text-align: center;
   font-family: 'Roboto', sans-serif;
   background: #F7F5F7;
   color: #3D3B42;
 }



  /*********************
  PAGE:MAIN
  *********************/
 .main{
   padding: 15px;
 }
 .main .profile-photo {
   max-width: 200px;
   border-radius: 50%;
 }

 .main h1 {
   margin: 40px 0 0;
   padding-bottom: 40px;
   font-weight: 300;
   font-size: 2em;
   text-transform: uppercase;
   /*border-bottom-width: medium; FIX! make border shorter */
 }

 hr {
   width: 25%;
 }


 .main p {
   margin: 20px 0;
   line-height: 1.55em;
   font-weight: 300;
 }

 .navbar {
   margin: 0 auto;
   max-width: 80%;
 }

 .navbar ul {
   padding: 0;
   list-style: none;
 }

 .navbar ul li {
   border: 1px solid #E0DFE0;
   border-radius: 2px;
   padding: 15px 25px;
   margin-bottom: 20px;
 }

 .navbar a {
  text-decoration: none;
  text-transform: uppercase;
  color: #3D3B42;

 }
